:root{
--color-primary:#ff6b00;
--color-background1:#f5f5f5;
}

*{
    padding:0;
    margin: 0;

}
body{

font-family: 'Raleway', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Hammersmith One', sans-serif;
width: 100vw;
height: 100vh;
}



/* ======== HEADER========== */

*{
    padding:0;
    margin: 0;

}
header{
    /*#ff914d,#ffbc58)*/
    height:6em;
    width: 100vw;
    background-color:#ffbc58;
    
}
#img-header{
    height: 100%;
    width:7%;
    display: flex;
    padding-top: 9px;
}
#img-header:hover{
    background-color:#ff914d;
    height: 100%;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-self: center;
    color: rgb(70, 66, 66);
    font-size: 24px;
}
#topo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 8%;
    
}
nav{
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 128px;
    color: rgb(70, 66, 66);
    font-size: 14pt;
   
    
}
.inicio{
    padding-right: 32px;
    animation:  go-back  2s alternate;
}
.sobrenos{
    margin-right: 16px;
    animation:  go-back  2s alternate;
}
.conta{
    margin-left: 16px;
    animation:  go-back  2s alternate;

}
 @keyframes go-back {
    0% {
       transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }   
}
@media screen and (min-device-width: 375px) and (max-device-width:667px){

    header{
        /*#ff914d,#ffbc58)*/
        height:6em;
        width: 100vw;
        background-color:#ffbc58;   
    }
    h1{
        display: none;
    }
    #topo{  
    margin:0;
    height: 100%;
    display: flex;
}
    nav{
        margin-right: 0;
        color: rgb(70, 66, 66);
        font-size: 12pt;  
        height: 100%;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

}
.conta{
    padding-right: 8px;
}
.inicio{
    padding-left: 8px;
    
}

    #img-header{
        width:150px;

}      
    #img-header:hover{
        display: none;
    }
    

}

/*=================== FIM DO HEADER=====================*/




/* 
======== MAIN ======== */
main{
    font-family: 'Nunito', sans-serif;
}
.content-main{
    background-color: var(--color-background1);
}

.content-bank {
    display:grid;
    grid-template-columns: repeat(2,1fr );
    margin: 0 50px;
}

.content-text {
    font-family: 'Raleway', sans-serif;
    width: 500px;
    font-size: 22px;
    margin-top: 100px;
    

}
.content-text h4{
   font-weight: 600;
}
.container-img{
    display: grid;
    justify-content: center;

}

.content-pague {
    color: white;
    background-color: var(--color-primary);
}
