:root{
--color-primary:#ff914d;
--color-background1:#f5f5f5;
}

body{
font-family: 'Hammersmith One', sans-serif;
font-family: 'Nunito', sans-serif;
margin: 0;
padding: 0;
width: 100vw;
height: 100vh;
}
header{
height: 8rem;
}
/* ======== INICIO ========== */
main{

}
.content-start{


    
}
