:root{
--color-primary:#ff6b00;
--color-background1:#f5f5f5;
}

body{
font-family: 'Raleway', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Hammersmith One', sans-serif;
margin: 0;
padding: 0;
width: 100vw;
height: 100vh;
}
header{
height: 8rem;
}
/* ======== INICIO ========== */
main{
    font-family: 'Nunito', sans-serif;
}
.content-main{
    background-color: var(--color-background1);
}

.content-bank {
    display:grid;
    grid-template-columns: repeat(2,1fr );
    margin: 0 50px;
}

.content-text {
    font-family: 'Raleway', sans-serif;
    width: 500px;
    font-size: 22px;
    margin-top: 100px;
    

}
.content-text h4{
   font-weight: 600;
}
.container-img{
    display: grid;
    justify-content: center;
}

.content-pague {
    color: white;
    background-color: var(--color-primary);
}